.container {
    background-image: url(trivia.jpg);
    background-size: 80px 60px;
    margin-top: auto;
}

.h1 {
    font-family: "Times New Roman", Times, serif;
    margin-top: 80px 60px;
    position: absolute;
}
